[submodule "packages/custom_interfaces"]
	path = packages/custom_interfaces
	url = https://github.com/zenith-polymtl/custom_interfaces
[submodule "packages/UI"]
	path = packages/UI
	url = https://github.com/zenith-polymtl/UI
[submodule "packages/tools"]
	path = packages/tools
	url = https://github.com/zenith-polymtl/tools
[submodule "packages/nav_stack"]
	path = packages/nav_stack
	url = https://github.com/zenith-polymtl/nav_stack
[submodule "packages/bringup"]
	path = packages/bringup
	url = https://github.com/zenith-polymtl/bringup
	branch = main
[submodule "packages/vision"]
	path = packages/vision
	url = https://github.com/zenith-polymtl/vision
	branch = main
[submodule "packages/polar_system"]
	path = packages/polar_system
	url = https://github.com/zenith-polymtl/polar_system.git
	branch = main

[submodule "packages/ros2_gremsy"]
	path = packages/ros2_gremsy
	url = https://github.com/tiiuae/ros2_gremsy.git
	branch = main

[submodule "workspaces/water_ws/src/gimbal_controller/gSDK"]
	path = workspaces/water_ws/src/gimbal_controller/gSDK
	url = https://github.com/Gremsy/gSDK.git
	branch = master
