[Unit]
Description=Enable multicast on loopback interface
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip link set lo multicast on
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target