body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 250px;
}

h1 {

    margin-bottom: 20px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.9;
}

#mission-go {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

#start-lap {
    background-color: #2196F3;
    /* Blue */
    color: white;
}

#finish-lap {
    background-color: #FFC107;
    /* Yellow */
    color: black;
}

#move-to-ladder {
    background-color: #9C27B0;
    /* Purple */
    color: white;
}

#move-to-tank {
    background-color: #FF5722;
    /* Orange */
    color: white;
}

#abort-all {
    background-color: #F44336;
    /* Red */
    color: white;
    grid-column: span 2;
    /* Full width for abort button */
}

#status {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

.log {
    margin-top: 20px;
    height: 800px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: left;
    width: 500px;
    margin-left: 60px;
}
.log p {
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
}

.log p.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.log p.error {
    background-color: #f2dede;
    color: #a94442;
}

.log p.info {
    background-color: #d9edf7;
    color: #31708f;
}

.mission-infos {
    display: flex;
}